{% extends "awards/award_base.html" %}
{% load crispy_forms_tags %}

{% block award_acceptance %}
<h4>Select Award Type</h4>
<form action="" method="post">{% csrf_token %}
     <select name="award_type">
      <option value="Modification">Modification</option>
      <option value="Original Award">Original Award</option>
      <option value="Administrative Establishment">Administrative Establishment</option>
      <option value="Administrative Funding">Administrative Funding</option>
    </select>
    <div class="inline-block">
        <input type="submit" value="Continue" class="btn btn-primary">
    </div>
</form>
{% endblock %}