# Environment variables for the ovpr-hub project
export DJANGO_SETTINGS_MODULE='ovpr_atp.settings.local'
export SECRET_KEY='foooooooo'
export MYSQL_PASSWORD='ovpr_atp' # Password to your local MySQL database
export CAYUSE_PASSWORD='fooo'
export LDAP_PASSWORD='fooo'

# EAS Settings
#export EAS_PASSWORD='fooooo'
#export EAS_NONCE='fooooooo'
export EAS_PASSWORD='Eas2Atp!18'
export EAS_NONCE='Fbq56qrJgDgJuZY7FvvCcw=='
